<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title)" />
<body>
<nav th:replace="fragments/common :: menu(menu)" />
<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">유저 홈</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="card mb-4">
          <h5 class="card-header">오늘의 전국 일기 예보</h5>
          <div class="card-body" id="weather">
            <h5 class="card-title">전국 중기예보전망</h5>
          </div>
        </div>
        <div class="card mb-4">
          <h5 class="card-header">전날 식단 분석</h5>
          <div class="card-body" id="dietCard"></div>
        </div>
        <div class="row mb-4">
          <div class="col-xl-6">
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                최근 일주일 소비 차트
              </div>
              <div class="card-body" id="weekShoppingChart"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                최근 세 달 소비 차트
              </div>
              <div class="card-body" id="monthShoppingChart"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
<!--          <div class="card-header">-->
<!--            이번 주 방문 예정 장소-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            이번 주 방문 예정 장소-->
<!--          </div>-->
        </div>
      </div>
    </main>
  </div>
</div>
<!-- dietCardInfo modal -->
<div class="modal fade" id="info_dietCard_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="info_dietCard_title">식단 상세 정보</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id ="dietResult">
          <h2>어제 하루 섭취 영양소</h2>
        </div>
        <div id="dietStandard">
          <h2>기준</h2>
          <p>열량 권장 2000  최대 3000 세계보건기구</p>
          <p>탄수화물 최소 100g 권장 130g 최대 200g 식약처
          <p>단백질 - 50g~55g
          <p>지방 권장 - 51g 식약처
          <p>당류 권장 - 50g 세계보건기구
          <p>나트륨 권장 - 2000mg 세계보건기구
          <p>콜레스테롤 권장 - 300mg 미국심장협회</p>
          <p>트랜스지방산 권장 -15g 식약처</p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
<!-- Footer-->
<footer th:replace="fragments/common :: footer"></footer>
<script src="/js/userHome/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script>

     //날짜 일반 객체
     let today_temp = new Date();
     let today = new Date();
     let yesterday = new Date(today_temp.setDate(today.getDate() -1));
     let twoDaysAgo = new Date(today_temp.setDate(yesterday.getDate() -1));
     let threeDaysAgo = new Date(today_temp.setDate(twoDaysAgo.getDate() -1));
     let fourDaysAgo = new Date(today_temp.setDate(threeDaysAgo.getDate() -1));
     let fiveDaysAgo = new Date(today_temp.setDate(fourDaysAgo.getDate() -1));
     let sixDaysAgo = new Date(today_temp.setDate(fiveDaysAgo.getDate() -1));


     //날짜 String YYYY-MM-DD
     function getYmd10(dateString) {
          //yyyy-mm-dd 포맷 날짜 생성
          return dateString.getFullYear() + "-" + ((dateString.getMonth() + 1) > 9 ? (dateString.getMonth() + 1).toString() : "0" + (dateString.getMonth() + 1)) + "-" + (dateString.getDate() > 9 ? dateString.getDate().toString() : "0" + dateString.getDate().toString());
     }
     let todayDate = getYmd10(today);
     let yesterdayDate = getYmd10(yesterday);
     let twoDaysAgoDate = getYmd10(twoDaysAgo);
     let threeDaysAgoDate = getYmd10(threeDaysAgo);
     let fourDaysAgoDate = getYmd10(fourDaysAgo);
     let fiveDaysAgoDate = getYmd10(fiveDaysAgo);
     let sixDaysAgoDate = getYmd10(sixDaysAgo);

     //달 YYYY-MM
     let firstDayOfThisMonth_temp = new Date(today.getFullYear(), today.getMonth(), 1);
     let thisMonth = getYmd10(firstDayOfThisMonth_temp).substring(0,7);
     let lastMonth = getYmd10(new Date(firstDayOfThisMonth_temp.setMonth(today.getMonth() -1))).substring(0,7);
     let twoMonthsAgo = getYmd10(new Date(firstDayOfThisMonth_temp.setMonth(today.getMonth() - 2))).substring(0,7);

     let weatherInfo = [];
     let stnId = "108";
     let tmFc;

     let today_year = today.getFullYear();
     let today_month = ('0' + (today.getMonth() + 1)).slice(-2);
     let today_day = ('0' + today.getDate()).slice(-2);
     let today_dateString = today_year + today_month + today_day;

     let uploadCert1 = new Date(`${today_year}-${today_month}-${today_day} 06:00:00`);
     let uploadCert2 = new Date(`${today_year}-${today_month}-${today_day} 18:00:00`);

     if(today.getTime() < uploadCert1){
        tmFc = today_year + today_month + (today_day-1) + "1800";
     } else if(uploadCert1 < today.getTime() < uploadCert1) {
        tmFc = today_year + today_month + today_day + "0600";
     } else {
        tmFc = today_year + today_month + today_day + "1800";
     }

     url = `getWeatherApi/${stnId}/${tmFc}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           item = jsonData.response.body.items.item;
           for (let i = 0; i < item.length; i++){
             weatherInfo.push(item[i].wfSv);
             $('#weather').append('<p>' + item[i].wfSv + '</p>');
           }
        }
     });

     if(weatherInfo.length == 0){
       alert("날씨 공공데이터 API에 일시적인 오류가 있습니다. 잠시 후 다시 시도해주세요.");
     }


     let food_name = "";
     let totalKcal = 0;
     let totalCarbohydrate = 0;
     let totalProtein = 0;
     let totalFat = 0;
     let totalSugar = 0;
     let totalSalt = 0;
     let totalCholesterol = 0;
     let totalSaturatedFattyAcids = 0;

     url = `/user/getYesterdayDiet/${yesterdayDate}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
          for(let i = 0; i < data.length; i++){
            food_name += data[i].food_name;
            totalKcal += Number(data[i].kcal);
            totalCarbohydrate += Number(data[i].carbohydrate);
            totalProtein += Number(data[i].protein);
            totalFat += Number(data[i].fat);
            totalSugar += Number(data[i].sugar);
            totalSalt += Number(data[i].salt);
            totalCholesterol += Number(data[i].cholesterol);
            totalSaturatedFattyAcids += Number(data[i].saturatedFattyAcids);
          }
        }
     })
     let dietScore = 0;

<!--     열량 최소 1000 권장 2000  최대 3000 세계보건기구-->
<!--     탄수화물 최소 100g 권장 130g 최대 200g 식약처-->
<!--     단백질 권장 최소 50g~55g 식약처-->
<!--     지방 권장 최소 51g 식약처 최대 66.7 세계보건기구-->
<!--     당류 권장 최대 50g 세계보건기구-->
<!--     나트륨 권장 최대 2000mg 세계보건기구-->
<!--     콜레스테롤 권장 최대 300mg 미국심장협회-->
<!--     트랜스지방산 권장 최대 15g 식약처-->
     if (totalKcal >= 1000 && totalKcal <= 3000){
        dietScore += 1;
     }
     if (totalCarbohydrate >= 100 && totalCarbohydrate <= 200){
        dietScore += 1;
     }
     if (totalProtein >= 50){
        dietScore += 1;
     }
     if (totalFat >= 51 && totalFat <= 66.7){
        dietScore += 1;
     }
     if (totalSugar <= 50){
        dietScore += 1;
     }
     if (totalSalt <= 2000){
        dietScore += 1;
     }
     if (totalCholesterol <= 300){
        dietScore += 1;
     }
     if (totalSaturatedFattyAcids <= 15){
        dietScore += 1;
     }

     if (food_name == ""){
        let html = "";

        html += '<div class="col-xl-3 col-md-6">'
        html += '  <div class="card bg-primary text-white mb-4">'
        html += '    <div class="card-body">전날 식단 데이터가 없어요.</div>'
        html += '    <div class="card-footer d-flex align-items-center justify-content-between">'
        html += '      <a class="small text-white stretched-link" href="/myPlanner">식단 추가하러 가기</a>'
        html += '      <div class="small text-white"><i class="fas fa-angle-right"></i></div>'
        html += '    </div>'
        html += '  </div>'
        html += '</div>'

        $('#dietCard').append(html);

     } else if (dietScore == 8){
        let html = "";

        html += '<div class="col-xl-3 col-md-6">'
        html += '  <div class="card bg-success text-white mb-4">'
        html += '    <div class="card-body">균형 잡힌 식단을 실천중이에요!</div>'
        html += '    <div class="card-footer d-flex align-items-center justify-content-between">'
        html += '      <a class="small text-white stretched-link" href="javascript:showDietCardInfo();">상세 보기</a>'
        html += '      <div class="small text-white"><i class="fas fa-angle-right"></i></div>'
        html += '    </div>'
        html += '  </div>'
        html += '</div>'

        $('#dietCard').append(html);

     } else if (dietScore < 8 && dietScore >= 4){
        let html = "";

        html += '<div class="col-xl-3 col-md-6">'
        html += '  <div class="card bg-warning text-white mb-4">'
        html += '    <div class="card-body">전날 식단을 조금 신경 쓸 필요가 있어보여요.</div>'
        html += '    <div class="card-footer d-flex align-items-center justify-content-between">'
        html += '      <a class="small text-white stretched-link" href="javascript:showDietCardInfo();">상세 보기</a>'
        html += '      <div class="small text-white"><i class="fas fa-angle-right"></i></div>'
        html += '    </div>'
        html += '  </div>'
        html += '</div>'

        $('#dietCard').append(html);

     } else {
        let html = "";

        html += '<div class="col-xl-3 col-md-6">'
        html += '  <div class="card bg-danger text-white mb-4">'
        html += '    <div class="card-body">식단의 개선이 필요합니다!!</div>'
        html += '    <div class="card-footer d-flex align-items-center justify-content-between">'
        html += '      <a class="small text-white stretched-link" href="javascript:showDietCardInfo();">View Details</a>'
        html += '      <div class="small text-white"><i class="fas fa-angle-right"></i></div>'
        html += '    </div>'
        html += '  </div>'
        html += '</div>'

        $('#dietCard').append(html);
     }

     $('#dietResult').append(`<p>섭취 음식 : ${food_name}</p>`);
     $('#dietResult').append(`<p>총 칼로리 (kcal) : ${totalKcal}</p>`);
     $('#dietResult').append(`<p>총 탄수화물 (g) : ${totalCarbohydrate}</p>`);
     $('#dietResult').append(`<p>총 단백질 (g) : ${totalProtein}</p>`);
     $('#dietResult').append(`<p>총 지방 (g) : ${totalFat}</p>`);
     $('#dietResult').append(`<p>총 당 (g) : ${totalSugar}</p>`);
     $('#dietResult').append(`<p>총 나트륨 (mg) : ${totalSalt}</p>`);
     $('#dietResult').append(`<p>총 콜레스테롤 (mg) : ${totalCholesterol}</p>`);
     $('#dietResult').append(`<p>총 트랜스지방산 (g) : ${totalSaturatedFattyAcids}</p>`);

     function showDietCardInfo(){
        $("#info_dietCard_modal").modal("show"); // modal 나타내기
     }

     //최근 일주일 소비 기록 가져오기
     // 오늘
     let todayShoppingPrice = 0;
     url = `/user/getShoppingByDate/${todayDate}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
          for(let i = 0; i < data.length; i++){
            todayShoppingPrice += Number(data[i].total_price);
          }
        }
     });
     // 어제
     let yesterdayShoppingPrice = 0;
     url = `/user/getShoppingByDate/${yesterdayDate}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
          for(let i = 0; i < data.length; i++){
            yesterdayShoppingPrice += Number(data[i].total_price);
          }
        }
     });
     // 2일전
     let twoDaysAgoShoppingPrice = 0;
     url = `/user/getShoppingByDate/${twoDaysAgoDate}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
          for(let i = 0; i < data.length; i++){
            twoDaysAgoShoppingPrice += Number(data[i].total_price);
          }
        }
     });
     // 3일전
     let threeDaysAgoShoppingPrice = 0;
     url = `/user/getShoppingByDate/${threeDaysAgoDate}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
          for(let i = 0; i < data.length; i++){
            threeDaysAgoShoppingPrice += Number(data[i].total_price);
          }
        }
     });
     // 4일전
     let fourDaysAgoShoppingPrice = 0;
     url = `/user/getShoppingByDate/${fourDaysAgoDate}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
          for(let i = 0; i < data.length; i++){
            fourDaysAgoShoppingPrice += Number(data[i].total_price);
          }
        }
     });
     // 5일전
     let fiveDaysAgoShoppingPrice = 0;
     url = `/user/getShoppingByDate/${fiveDaysAgoDate}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
          for(let i = 0; i < data.length; i++){
            fiveDaysAgoShoppingPrice += Number(data[i].total_price);
          }
        }
     });
     // 6일전
     let sixDaysAgoShoppingPrice = 0;
     url = `/user/getShoppingByDate/${sixDaysAgoDate}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
          for(let i = 0; i < data.length; i++){
            sixDaysAgoShoppingPrice += Number(data[i].total_price);
          }
        }
     });

     maxShoppingPriceOfDay = Math.max(sixDaysAgoShoppingPrice,
                fiveDaysAgoShoppingPrice,
                fourDaysAgoShoppingPrice,
                threeDaysAgoShoppingPrice,
                twoDaysAgoShoppingPrice,
                yesterdayShoppingPrice,
                todayShoppingPrice
               );

     //최근 일주일 소비 차트
     Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
     Chart.defaults.global.defaultFontColor = '#292b2c';

     if(maxShoppingPriceOfDay == 0){
        $('#weekShoppingChart').append('<p>최근 일주일 간 소비 내역이 없습니다.</p>')
     }
     var ctx = document.getElementById("myAreaChart");
     var myLineChart = new Chart(ctx, {
       type: 'line',
       data: {
         labels: [sixDaysAgo.getMonth() + 1 + "/" + sixDaysAgo.getDate(),
           fiveDaysAgo.getMonth() + 1 + "/" + fiveDaysAgo.getDate(),
           fourDaysAgo.getMonth() + 1 + "/" + fourDaysAgo.getDate(),
           threeDaysAgo.getMonth() + 1 + "/" + threeDaysAgo.getDate(),
           twoDaysAgo.getMonth() + 1 + "/" + twoDaysAgo.getDate(),
           "어제",
           "오늘"
         ],
         datasets: [{
           label: "소비 비용",
           lineTension: 0.3,
           backgroundColor: "rgba(2,117,216,0.2)",
           borderColor: "rgba(2,117,216,1)",
           pointRadius: 5,
           pointBackgroundColor: "rgba(2,117,216,1)",
           pointBorderColor: "rgba(255,255,255,0.8)",
           pointHoverRadius: 5,
           pointHoverBackgroundColor: "rgba(2,117,216,1)",
           pointHitRadius: 50,
           pointBorderWidth: 2,
           data: [sixDaysAgoShoppingPrice,
             fiveDaysAgoShoppingPrice,
             fourDaysAgoShoppingPrice,
             threeDaysAgoShoppingPrice,
             twoDaysAgoShoppingPrice,
             yesterdayShoppingPrice,
             todayShoppingPrice
           ],
         }],
       },
       options: {
         scales: {
           xAxes: [{
             time: {
               unit: 'date'
             },
             gridLines: {
               display: false
             },
             ticks: {
               maxTicksLimit: 7
             }
           }],
           yAxes: [{
             ticks: {
               min: 0,
               max: maxShoppingPriceOfDay,
               maxTicksLimit: 10
             },
             gridLines: {
               color: "rgba(0, 0, 0, .125)",
             }
           }],
         },
         legend: {
           display: false
         }
       }
     });

     //최근 3달 소비 기록 가져오기
     // 이번달
     let thisMonthShoppingPrice = 0;
     url = `/user/getShoppingByMonth/${thisMonth}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
          for(let i = 0; i < data.length; i++){
            thisMonthShoppingPrice += Number(data[i].total_price);
          }
        }
     })
     // 저번달
     let lastMonthShoppingPrice = 0;
     url = `/user/getShoppingByMonth/${lastMonth}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
          for(let i = 0; i < data.length; i++){
            lastMonthShoppingPrice += Number(data[i].total_price);
          }
        }
     })
     // 두달전
     let twoMonthsAgoShoppingPrice = 0;
     url = `/user/getShoppingByMonth/${twoMonthsAgo}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
          for(let i = 0; i < data.length; i++){
            twoMonthsAgoShoppingPrice += Number(data[i].total_price);
          }
        }
     })

     maxShoppingPriceOfMonth = Math.max(
      twoMonthsAgoShoppingPrice, lastMonthShoppingPrice, thisMonthShoppingPrice
     );

     //최근 3달 소비 차트
     Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
     Chart.defaults.global.defaultFontColor = '#292b2c';

     if(maxShoppingPriceOfMonth == 0){
        $('#monthShoppingChart').append('<p>최근 일주일 간 소비 내역이 없습니다.</p>')
     }
     var ctx = document.getElementById("myBarChart");
     var myLineChart = new Chart(ctx, {
       type: 'bar',
       data: {
         labels: [twoMonthsAgo.substring(5,7)+"월", "저번달", "이번달"],
         datasets: [{
           label: "Revenue",
           backgroundColor: "rgba(2,117,216,1)",
           borderColor: "rgba(2,117,216,1)",
           data: [twoMonthsAgoShoppingPrice, lastMonthShoppingPrice, thisMonthShoppingPrice],
         }],
       },
       options: {
         scales: {
           xAxes: [{
             time: {
               unit: 'month'
             },
             gridLines: {
               display: false
             },
             ticks: {
               maxTicksLimit: 3
             }
           }],
           yAxes: [{
             ticks: {
               min: 0,
               max: maxShoppingPriceOfMonth,
               maxTicksLimit: 5
             },
             gridLines: {
               display: true
             }
           }],
         },
         legend: {
           display: false
         }
       }
     });


</script>

</html>