<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title)" />
<body>
<nav th:replace="fragments/common :: menu(menu)" />
<div class="container">
    <div class="my-4">
        <h2>로그인</h2>
        <form role="form" method="post" th:action="@{/login}">
            <div class="form-group py-2">
                <label th:for="email">이메일 주소</label>
                <input type="email" name="email" class="form-control" placeholder="이메일 주소 입력">
            </div>
            <div class="form-group py-2">
                <label th:for="password">비밀번호</label>
                <input type="password" name="password" class="form-control" placeholder="비밀번호 입력">
            </div>
            <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
            <div style="text-align:center" class="py-3">
                <button type="submit" class="btn btn-outline-dark">로그인</button>
                <button type="button" class="btn btn-outline-dark" onclick="location.href='/registry'">회원가입</button>
            </div>
        </form>
    </div>
</div>
<footer th:replace="fragments/common :: footer"></footer>
</body>
<!--회원가입 성공시 메시지 출력-->
<th:block>
    <script th:inline="javascript">
    $(document).ready(function(){
        var SuccessMsg = [[${SuccessMsg}]];
        if(SuccessMsg != null){
            alert(SuccessMsg);
        }
    });
    </script>
</th:block>

