<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: head(title)" />
<body>
<nav th:replace="fragments/common :: menu(menu)" />
<div class="container">
    <div class="my-4">
        <h2>사용자 회원가입</h2>
    </div>
    <form th:action method="post" th:object="${member}">
        <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="text" class="form-control" id="username" th:field="*{username}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}">
        </div>
        <hr class="my-3">
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</body>
</html>
