<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title)" />
<head>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.8/index.global.min.js"></script>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <script>
   $(document).ready(function (){
      var token = $("meta[name='_csrf']").attr("content");
	  var header = $("meta[name='_csrf_header']").attr("content");

      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar : {
		  start : 'prev next today',
		  center : 'title',
		  end : 'dayGridMonth,dayGridWeek,dayGridDay,listWeek'
		},
		titleFormat : function(date) {
		  return date.date.year + '년 ' + (parseInt(date.date.month) + 1) + '월';
		},
		navLinks: true,
		selectable : true,
<!--		droppable : true,-->
<!--		editable : true,-->
		nowIndicator: true,
		locale: 'ko',
		googleCalendarApiKey: 'AIzaSyD7FEF1RyDXeRs5iUzQ865DTAeHlbT1vcM', //구글 캘린더 API KEY
		eventSources: [
          {
            url: 'myPlanner/api/events/',
            color: 'yellow',
            textColor: 'black'
          },
          {
            googleCalendarId : 'ko.south_korea#holiday@group.v.calendar.google.com', //구글 캘린더 아이디 - 공휴일 가져오기
            color: 'white',
            textColor: 'red'
          }
        ],
        select: function (arg) { // 드래그로 이벤트 생성.
          $("#add_event_modal").modal("show"); // modal 나타내기
          document.getElementById("add_event_start_date").value = moment(arg.start).format('YYYY-MM-DD');
          document.getElementById("add_event_end_date").value = moment(arg.end).format('YYYY-MM-DD');
          document.getElementById("add_event_start_time").value = moment(arg.start).format('HH:mm');
          document.getElementById("add_event_end_time").value = moment(arg.end).format('HH:mm');

          $("#add_event_save").off('click').on("click",function(){  // modal의 추가 버튼 클릭 시
            var content = $("#add_event_content").val();
            var start_date = $("#add_event_start_date").val();
            var start_time = $("#add_event_start_time").val();
            var end_date = $("#add_event_end_date").val();
            var end_time = $("#add_event_end_time").val();

            var allDay = true;
            if($('input:radio[id=set_time]').is(':checked')){
              allDay = false;
            }

            var start = start_date + " " + start_time;
            var end = end_date + " " + end_time;

            //내용 입력 여부 확인
            if(content == null || content == ""){
              alert("내용을 입력하세요.");
            }else if(start_date == "" || end_date ==""){
              alert("날짜를 입력하세요.");
            }else if(new Date(end)- new Date(start) < 0){ // date 타입으로 변경 후 확인
              alert("종료일이 시작일보다 먼저입니다.");
            }else{ // 정상적인 입력 시
              var obj = {
                "title" : content,
                "start" : start,
                "end" : end,
                "allDay" : allDay
              }//전송할 객체 생성
            var event = JSON.stringify(obj)
            $.ajax({
              url: "/myPlanner/create",
              method: "POST",
              dataType: "text",
              data: event,
              contentType: 'application/json',
              beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token);
              },
              success : function(){
				alert("등록을 완료하였습니다!");
		      },
              fail : function (request, status, error){
                alert("에러 발생" + error)
              },
              complete : function(){
                location.replace("");
              }
            })

            calendar.unselect();
            }
          });
        },
        eventClick: function(arg) {
          $("#info_event_modal").modal("show"); // modal 나타내기
          document.getElementById("info_event_start_date").value = moment(arg.event.start).format('YYYY-MM-DD');
          document.getElementById("info_event_end_date").value = moment(arg.event.end).format('YYYY-MM-DD');
          document.getElementById("info_event_start_time").value = moment(arg.event.start).format('HH:mm');
          document.getElementById("info_event_end_time").value = moment(arg.event.end).format('HH:mm');
        }
      });
      calendar.render();
   });
    </script>
</head>
<body>
<nav th:replace="fragments/common :: menu(menu)" />
<div id='calendar'></div>
<!-- 이벤트 추가 modal -->
<div class="modal fade" id="add_event_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_event_title">일정을 입력하세요.</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="event" class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="radio" id="all_time" name="all_or_set_time" onchange="setTimeDisplay()" checked="checked">
            <label class="form-check-label" for="all_time">종일</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="set_time" name="all_or_set_time" onchange="setTimeDisplay()">
            <label class="form-check-label" for="set_time">시간 지정</label>
          </div>
          <label for="event" class="col-form-label">시작 날짜
          </label>
          <input type="date" class="form-control" id="add_event_start_date" name="calendar_start_date">
          <input type="time" class="form-control" id="add_event_start_time" name="calendar_start_time" disabled="true" value="00:00">
          <label for="event" class="col-form-label">종료 날짜</label>
          <input type="date" class="form-control" id="add_event_end_date" name="calendar_end_date">
          <input type="time" class="form-control" id="add_event_end_time" name="calendar_end_time" disabled="true" value="00:00">
          <label for="event" class="col-form-label">일정 내용</label>
          <input type="text" class="form-control" id="add_event_content" name="calendar_content">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="add_event_save">추가</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="sprintSettingModalClose">취소</button>
      </div>
    </div>
  </div>
</div>

<!-- 이벤트 추가 modal -->
<div class="modal fade" id="info_event_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="info_event_title">일정 정보</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!--        <form id="event" class="form-group">-->
<!--          <div class="form-check">-->
<!--            <input class="form-check-input" type="radio" id="all_time" name="all_or_set_time" onchange="setTimeDisplay()" checked="checked">-->
<!--            <label class="form-check-label" for="all_time">종일</label>-->
<!--          </div>-->
<!--          <div class="form-check">-->
<!--            <input class="form-check-input" type="radio" id="set_time" name="all_or_set_time" onchange="setTimeDisplay()">-->
<!--            <label class="form-check-label" for="set_time">시간 지정</label>-->
<!--          </div>-->
          <label for="event" class="col-form-label">시작 날짜
          </label>
          <input type="date" class="form-control" id="info_event_start_date" name="info_calendar_start_date">
          <input type="time" class="form-control" id="info_event_start_time" name="info_calendar_start_time" disabled="true">
          <label for="event" class="col-form-label">종료 날짜</label>
          <input type="date" class="form-control" id="info_event_end_date" name="info_calendar_end_date">
          <input type="time" class="form-control" id="info_event_end_time" name="info_calendar_end_time" disabled="true">
          <label for="event" class="col-form-label">일정 내용</label>
          <input type="text" class="form-control" id="info_event_content" name="info_calendar_content">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="infoModalClose">취소</button>
      </div>
    </div>
  </div>
</div>


<footer th:replace="fragments/common :: footer"></footer>
</body>
<script>
  function setTimeDisplay(){
    if($('input:radio[id=all_time]').is(':checked')){
        $('#add_event_start_time').val("00:00");
        $('#add_event_start_time').attr("disabled", true);
        $('#add_event_end_time').val("00:00");
        $('#add_event__end_time').attr("disabled", true);
    }else if($('input:radio[id=set_time]').is(':checked')){
        $('#add_event_start_time').attr("disabled", false);
        $('#add_event_end_time').attr("disabled", false);
    }
  }

  $('.modal').on('hidden.bs.modal', function (e) {
	$(this).find('form')[0].reset();
	setTimeDisplay();
  })

</script>