<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title)" />
<head>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.8/index.global.min.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          headerToolbar : {
			start : 'prev next today',
			center : 'title',
			end : 'dayGridMonth,dayGridWeek,dayGridDay'
		  },
		  titleFormat : function(date) {
			return date.date.year + '년 ' + (parseInt(date.date.month) + 1) + '월';
		  },
		  selectable : true,
		  droppable : true,
		  editable : true,
		  nowIndicator: true,
		  locale: 'ko',
		  googleCalendarApiKey: 'AIzaSyD7FEF1RyDXeRs5iUzQ865DTAeHlbT1vcM', //구글 캘린더 API KEY
		  eventSources: [
            {
              url: 'myPlanner/api/events/',
              color: 'yellow',
              textColor: 'black'
            },
            {
              googleCalendarId : 'ko.south_korea#holiday@group.v.calendar.google.com', //구글 캘린더 아이디 - 공휴일 가져오기
              color: 'white',
              textColor: 'red'
            }
          ],
          select: function (arg) { // 드래그로 이벤트 생성.
            $("#calendarModal").modal("show"); // modal 나타내기

            $("#addCalendar").on("click",function(){  // modal의 추가 버튼 클릭 시
              var content = $("#calendar_content").val();
              var start_date = $("#calendar_start_date").val();
              var end_date = $("#calendar_end_date").val();

              //내용 입력 여부 확인
              if(content == null || content == ""){
                alert("내용을 입력하세요.");
              }else if(start_date == "" || end_date ==""){
                alert("날짜를 입력하세요.");
              }else if(new Date(end_date)- new Date(start_date) < 0){ // date 타입으로 변경 후 확인
                alert("종료일이 시작일보다 먼저입니다.");
              }else{ // 정상적인 입력 시
                var obj = {
                  "title" : content,
                  "start" : start_date,
                  "end" : end_date
                }//전송할 객체 생성

              console.log(obj); //서버로 해당 객체를 전달해서 DB 연동 가능
              }
            });
          }
        });
        calendar.render();
      });

    </script>
</head>
<body>
<nav th:replace="fragments/common :: menu(menu)" />
<div id='calendar'></div>
<!-- modal 추가 -->
<div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">일정을 입력하세요.</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="taskId" class="col-form-label">일정 내용</label>
          <input type="text" class="form-control" id="calendar_content" name="calendar_content">
          <label for="taskId" class="col-form-label">시작 날짜</label>
          <input type="date" class="form-control" id="calendar_start_date" name="calendar_start_date">
          <label for="taskId" class="col-form-label">종료 날짜</label>
          <input type="date" class="form-control" id="calendar_end_date" name="calendar_end_date">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" id="addCalendar">추가</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="sprintSettingModalClose">취소</button>
      </div>
    </div>
  </div>
</div>


<footer th:replace="fragments/common :: footer"></footer>
</body>