<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title)" />
<head>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.8/index.global.min.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          headerToolbar : {
			start : 'prev next today',
			center : 'title',
			end : 'dayGridMonth,dayGridWeek,dayGridDay'
		  },
		  titleFormat : function(date) {
			return date.date.year + '년 ' + (parseInt(date.date.month) + 1) + '월';
		  },
		  selectable : true,
		  droppable : true,
		  editable : true,
		  nowIndicator: true,
		  locale: 'ko',
		  googleCalendarApiKey: 'AIzaSyD7FEF1RyDXeRs5iUzQ865DTAeHlbT1vcM', //구글 캘린더 API KEY
		  eventSources: [
            {
              url: 'myPlanner/api/events/',
              color: 'yellow',
              textColor: 'black'
            },
            {
              googleCalendarId : 'ko.south_korea#holiday@group.v.calendar.google.com', //구글 캘린더 아이디 - 공휴일 가져오기
              color: 'white',
              textColor: 'red'
            }
          ],
          select: function (arg) { // 드래그로 이벤트 생성.
            var title = prompt('일정을 입력해주세요.');
            if (title) {
              var newEvent = {
                "title" : title,
                "start": arg.start,
                "end" : arg.end
              }

            }

            var jsondata = JSON.stringify(newEvent);


            $(function saveData(jsondata) {
              $.ajax({
                url: "/myPlanner/api/events",
                method: "POST",
                dataType: "json",
                data: JSON.stringify(newEvent),
                contentType: 'application/json',
              })
              .done(function (result) {
              // alert(result);
              })
              .fail(function (request, status, error) {
                alert("에러 발생" + error);
              });
              calendar.unselect()
            });
          },
        });
        calendar.render();
      });

    </script>
</head>
<body>
<nav th:replace="fragments/common :: menu(menu)" />
<div id='calendar'></div>
<footer th:replace="fragments/common :: footer"></footer>
</body>