<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title)" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
  <style>
        .wrap * {padding: 0;margin: 0;}
        .wrap .info {border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
        .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
        .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
        .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
        .info .close:hover {cursor: pointer;}
        .info .body {position: relative;overflow: hidden;}
        .info .desc {position: relative;90px; padding: 5px;}
        .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
        .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
        .desc .etc {font-size: 8px;color: #888;margin-top: -2px;}
        .info .link {color: #5085BB;}
    </style>
</head>
<body>
<nav th:replace="fragments/common :: menu(menu)" />
<div id="div_load_image" style="position:absolute; top:50%; left:50%; z-index:9999; background:#f0f0f0; margin:auto; padding:0; text-align:center; transform: translate(-50%, -50%);">
  <img src="/img/loading/loadingBar_walking.gif" style="width:100px; height:100px; ">
  <p>로딩중...</p>
</div>
<div class="m-3">
  <button onclick="location.href='/map/searchView'" type="button" class="btn btn-secondary">장소 검색</button>
  <div class="btn-group">
    <button type="button" class="btn btn-success">군인 전용 장소 보기</button>
    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/map/armyFacilityView">군 복지 휴양 시설</a></li>
      <li><a class="dropdown-item" href="/map/armyHospitalView">군 병원</a></li>
      <li><a class="dropdown-item" href="/map/armyTmoView">TMO</a></li>
    </ul>
  </div>
  <button onclick="location.href='/map/armyPreferentialplaceView'" type="button" class="btn btn-warning">군인 우대 업소 보기</button>
</div>
<div id="map" class="mt-3" style="width:100%;height:350px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3d7ccd2c2284f05d05ea7f9ae21515d9&libraries=services"></script>
<script>

  window.onload = function () {
	   $("#div_load_image").hide();
  }

  //csrf
  var token = $("meta[name='_csrf']").attr("content");
  var header = $("meta[name='_csrf_header']").attr("content");

  var positions = [];

  let totalCount;
  init();
  getData();
  if(positions.length == 0){
    alert("공공데이터 API 서버에 일시적 문제가 있습니다! 잠시 후 다시 시도해주세요.");
  }

  //tmo_nm tmo명
  //gnrltelno 전화번호
  //wkday_strtm 평일 시작시간
  //wkday_endtm 평일 종료시간
  //wkend_strtm 주말 시작시간
  //wkend_endtm 주말 종료시간
  //pstnexpln 위치 설명
  //etc 비고


  //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
  function init() {
     start = 1;
     end = 1;
     url = `/map/armyTmoView/getArmyTmoApi/${start}/${end}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           totalCount = jsonData.DS_TB_MND_TMO_INFO.list_total_count;
        }
     })
  }

  //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
  function getData() {
     start = 1;
     end = totalCount;
     url = `/map/armyTmoView/getArmyTmoApi/${start}/${end}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           for (let i = 0; i < totalCount; i++){
              let title = "";
              if(jsonData.DS_TB_MND_TMO_INFO.row[i].tmo_nm == "동서울"){
                title = jsonData.DS_TB_MND_TMO_INFO.row[i].tmo_nm + "터미널";
              } else{
                title = jsonData.DS_TB_MND_TMO_INFO.row[i].tmo_nm + "역";
              }
              positions.push({
                  title: title,
                  pstnexpln: jsonData.DS_TB_MND_TMO_INFO.row[i].pstnexpln,
                  gnrltelno: jsonData.DS_TB_MND_TMO_INFO.row[i].gnrltelno,
                  wkday_strtm: jsonData.DS_TB_MND_TMO_INFO.row[i].wkday_strtm,
                  wkday_endtm: jsonData.DS_TB_MND_TMO_INFO.row[i].wkday_endtm,
                  wkend_strtm: jsonData.DS_TB_MND_TMO_INFO.row[i].wkend_strtm,
                  wkend_endtm: jsonData.DS_TB_MND_TMO_INFO.row[i].wkend_endtm,
                  etc: jsonData.DS_TB_MND_TMO_INFO.row[i].etc,
              });
           }
        }
     })
  }
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div
     mapOption = {
       center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
       level: 3 // 지도의 확대 레벨
     };

  // 지도를 생성합니다
  var map = new kakao.maps.Map(mapContainer, mapOption);

  // 주소-좌표 변환 객체를 생성합니다
  var geocoder = new kakao.maps.services.Geocoder();

  // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
  var infowindow = new kakao.maps.InfoWindow({zIndex:1});

  // 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
  var bounds = new kakao.maps.LatLngBounds(); //추가한 코드

  positions.forEach(function (position) {
    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    // 키워드로 장소를 검색합니다
    ps.keywordSearch(position.title, placesSearchCB);

    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (result, status, pagination) {
      // 정상적으로 검색이 완료됐으면
      if (status === kakao.maps.services.Status.OK) {
        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
          map: map,
          position: coords
        });
        marker.setMap(map); //추가한 코드

        // LatLngBounds 객체에 좌표를 추가합니다
        bounds.extend(coords); //추가한 코드, 현재 코드에서 좌표정보는 point[i]가 아닌 coords이다.

        var road_address_name = result[0].road_address_name;
        var address_name = result[0].address_name;
        var title = position.title + " TMO";
        var pstnexpln = position.pstnexpln;
        var gnrltelno = position.gnrltelno;
        var wkday_strtm = position.wkday_strtm;
        var wkday_endtm = position.wkday_endtm;
        var wkend_strtm = position.wkend_strtm;
        var wkend_endtm = position.wkend_endtm;
        var etc = position.etc;
        var x = result[0].x;
        var y = result[0].y;

        function displayInfowindow(marker, title, road_address_name, address_name, pstnexpln, gnrltelno, wkday_strtm, wkday_endtm, wkend_strtm, wkend_endtm, etc, x, y){
            var content =  '<div class="wrap" style="width: max-content;">' +
            '    <div class="info">' +
            `        <div class="title">${title}</div>` +
            '        <div class="body">' +
            '            <div class="desc">' +
            `                <div class="ellipsis">${road_address_name}</div>` +
            `                <div class="jibun ellipsis"> (지번) ${address_name}</div>` +
            `                <div class="etc"> 위치: ${pstnexpln}</div>` +
            `                <div class="etc"> 전화번호: ${gnrltelno}</div>` +
            `                <div class="etc"> 평일 운영시간: ${wkday_strtm} - ${wkday_endtm}</div>` +
            `                <div class="etc"> 주말 운영시간: ${wkend_strtm} - ${wkend_endtm}</div>` +
            `                <div class="etc"> ${etc} </div>` +
            '            </div>' +
             `                <div class= "d-grid gap-2 d-md-flex justify-content-md-end pe-1 pb-1">` +
            `                    <button id="likePlace" class="btn btn-primary btn-sm">관심 장소에 추가하기</button>` +
            `                    <button type="button" id="closeInfo" class="btn btn-secondary btn-sm">닫기</button>` +
            `                </div>` +
            '        </div>' +
            '    </div>' +
            '</div>';

            infowindow.setContent(content);
            infowindow.open(map, marker);

            $('#likePlace').off('click').on('click', function(){
              var placeobj = {
                "title" : title,
                "roadAddressName" : road_address_name,
                "x" : x,
                "y" : y
              }//전송할 객체 생성
              var placeJsonObj = JSON.stringify(placeobj);

              $.ajax({
                url: "/map/place_like",
                method: "POST",
                dataType: "text",
                data: placeJsonObj,
                async: false,
                contentType: 'application/json',
                beforeSend : function(xhr) {
                  xhr.setRequestHeader(header, token);
                },
                success : function(){
                  alert("등록을 완료하였습니다!");
                },
                fail : function (request, status, error){
                  alert("에러 발생" + error)
                },
                complete : function(){
                  location.replace("");
                }
              });
            });
        }

        kakao.maps.event.addListener(marker, 'click', function() {
            displayInfowindow(marker, title, road_address_name, address_name, pstnexpln, gnrltelno, wkday_strtm, wkday_endtm, wkend_strtm, wkend_endtm, etc, x, y);
        });

        $(document).on("click", '#closeInfo', function () {
            infowindow.close();
        });


        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        // map.setCenter(coords); //제거한 코드
        setBounds(); //추가한 코드
      }
    };
  });

  function setBounds() {
    // LatLngBounds 객체에 추가된 좌표들을 기준으로 지도의 범위를 재설정합니다
    // 이때 지도의 중심좌표와 레벨이 변경될 수 있습니다
    map.setBounds(bounds);
  }
</script>
</body>
<footer th:replace="fragments/common :: footer"></footer>
</html>