<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title)" />
<body>
<nav th:replace="fragments/common :: menu(menu)" />
<button onclick="location.href='/map/searchView'" type="button" class="btn btn-secondary">장소 검색</button>
<div class="btn-group">
  <button type="button" class="btn btn-success">군인 전용 장소 보기</button>
  <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/map/armyFacilityView">군 복지 휴양 시설</a></li>
    <li><a class="dropdown-item" href="/map/armyHospitalView">군 병원</a></li>
    <li><a class="dropdown-item" href="/map/armyTmoView">TMO</a></li>
  </ul>
</div>
<div id="map" style="width:100%;height:350px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3d7ccd2c2284f05d05ea7f9ae21515d9&libraries=services"></script>
<script>
  var positions = [];

  let totalCount;
  init();
  getData();
  console.log(positions);

  //tmo_nm tmo명
  //gnrltelno 전화번호
  //wkday_strtm 평일 시작시간
  //wkday_endtm 평일 종료시간
  //wkend_strtm 주말 시작시간
  //wkend_endtm 주말 종료시간
  //pstnexpln 위치 설명
  //etc 비고


  //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
  function init() {
     start = 1;
     end = 1;
     url = `/map/armyTmoView/getArmyTmoApi/${start}/${end}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           totalCount = jsonData.DS_TB_MND_TMO_INFO.list_total_count;
        }
     })
  }

  //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
  function getData() {
     start = 1;
     end = totalCount;
     url = `/map/armyTmoView/getArmyTmoApi/${start}/${end}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           for (let i = 0; i < totalCount; i++){
              let title = "";
              if(jsonData.DS_TB_MND_TMO_INFO.row[i].tmo_nm == "동서울"){
                title = jsonData.DS_TB_MND_TMO_INFO.row[i].tmo_nm + "터미널";
              } else{
                title = jsonData.DS_TB_MND_TMO_INFO.row[i].tmo_nm + "역";
              }
              positions.push({
                  title: title
              });
           }
        }
     })
  }
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div
     mapOption = {
       center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
       level: 3 // 지도의 확대 레벨
     };

  // 지도를 생성합니다
  var map = new kakao.maps.Map(mapContainer, mapOption);

  // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
  var infowindow = new kakao.maps.InfoWindow({zIndex:1});

  // 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
  var bounds = new kakao.maps.LatLngBounds(); //추가한 코드

  var bounds = new kakao.maps.LatLngBounds();
  positions.forEach(function (position) {
    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();

    // 키워드로 장소를 검색합니다
    ps.keywordSearch(position.title, placesSearchCB);

    // 키워드 검색 완료 시 호출되는 콜백함수 입니다
    function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            displayMarker(data[0]);
            bounds.extend(new kakao.maps.LatLng(data[0].y, data[0].x));

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
            map.setBounds(bounds);
        }
    }

    // 지도에 마커를 표시하는 함수입니다
    function displayMarker(place) {

        // 마커를 생성하고 지도에 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x)
        });

        // 마커에 클릭이벤트를 등록합니다
        kakao.maps.event.addListener(marker, 'click', function() {
            // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
            infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
            infowindow.open(map, marker);
        });
    }
  });

</script>
</body>
<footer th:replace="fragments/common :: footer"></footer>
</html>