<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title)" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
    <style>
        .wrap * {padding: 0;margin: 0;}
        .wrap .info {border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
        .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
        .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
        .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
        .info .close:hover {cursor: pointer;}
        .info .body {position: relative;overflow: hidden;}
        .info .desc {position: relative;90px; padding: 5px;}
        .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
        .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
        .desc .category {font-size: 8px;}
        .desc .etc {font-size: 8px;color: #888;margin-top: -2px;}
        .info .link {color: #5085BB;}
    </style>
</head>
<body>
<nav th:replace="fragments/common :: menu(menu)" />
<div id="div_load_image" style="position:absolute; top:50%; left:50%; z-index:9999; background:#f0f0f0; margin:auto; padding:0; text-align:center; transform: translate(-50%, -50%);">
    <img src="/img/loading/loadingBar_walking.gif" style="width:100px; height:100px; ">
    <p>로딩중...</p>
</div>
<div class="m-3">
    <button onclick="location.href='/map/searchView'" type="button" class="btn btn-secondary">장소 검색</button>
    <div class="btn-group">
        <button type="button" class="btn btn-success">군인 전용 장소 보기</button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/map/armyFacilityView">군 복지 휴양 시설</a></li>
            <li><a class="dropdown-item" href="/map/armyHospitalView">군 병원</a></li>
            <li><a class="dropdown-item" href="/map/armyTmoView">TMO</a></li>
        </ul>
    </div>
    <button onclick="location.href='/map/armyPreferentialplaceView'" type="button" class="btn btn-warning">군인 우대 업소 보기</button>
</div>
<div id="map" class="mt-3" style="width:100%;height:350px;"></div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3d7ccd2c2284f05d05ea7f9ae21515d9&libraries=services"></script>
<script>

  window.onload = function () {
	   $("#div_load_image").hide();
  }

  //csrf
  var token = $("meta[name='_csrf']").attr("content");
  var header = $("meta[name='_csrf_header']").attr("content");

  let pocheon = [];
  //title: 상호명
  //type: 업종 + 업태
  //address: 사업장 주소
  //lngt: 경도
  //ltd: 위도
  //phone: 전화번호
  //startTime: 영업시작시간
  //endTime: 영업종료시간
  //closed: 휴무
  //mainMenu: 주메뉴
  //discount: 할인내용

  let nonsan = [];
  //title: 업소명
  //type: 업소구분
  //address: 주소
  //phone: 전화번호
  //army_discount: 입영및면회객할인율
  //colStudent_discount: 대학생할인율

  let yeongcheon = [];
  //title: 상호
  //address: 주소
  //phone: 전화번호

  let changwon = [];
  //title: 업소명
  //address: 소재지
  //phone: 전화번호
  //mainMenu: 주메뉴

  let totalCount;

  pocheon_init();
  pocheon_getData();
  if(pocheon.length == 0){
    alert("포천 공공데이터 API에 일시적인 오류가 있습니다. 잠시 후 다시 시도해주세요.");
  }

  nonsan_init();
  nonsan_getData();
  if(nonsan.length == 0){
    alert("논산 공공데이터 API에 일시적인 오류가 있습니다. 잠시 후 다시 시도해주세요.");
  }

  yeongcheon_init();
  yeongcheon_getData();
  if(yeongcheon.length == 0){
    alert("영천 공공데이터 API에 일시적인 오류가 있습니다. 잠시 후 다시 시도해주세요.");
  }

  changwon_init();
  changwon_getData();
  if(changwon.length == 0){
    alert("창원 공공데이터 API에 일시적인 오류가 있습니다. 잠시 후 다시 시도해주세요.");
  }


  //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
  function pocheon_init() {
     count = 1;

     url = `armyPreferentialplaceView/getPocheonApi/${count}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           totalCount = jsonData.totalCount;
        }
     })
  }

  //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
  function pocheon_getData() {
     count = totalCount;
     url = `armyPreferentialplaceView/getPocheonApi/${count}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           for (let i = 0; i < totalCount; i++){
              var type = '';
              if(jsonData.data[i]['업태'] == null){
                type = jsonData.data[i]['업종'];
              } else{
                type = jsonData.data[i]['업종'] + "-" + jsonData.data[i]['업태'];
              }
              pocheon.push({
                  title: jsonData.data[i]['상호명'],
                  type: type,
                  address: jsonData.data[i]['사업장 주소'],
                  lngt: jsonData.data[i]['경도'],
                  ltd: jsonData.data[i]['위도'],
                  phone: jsonData.data[i]['전화번호'],
                  startTime: jsonData.data[i]['영업시작시간'],
                  endTime: jsonData.data[i]['영업종료시간'],
                  closed: jsonData.data[i]['휴무'],
                  mainMenu: jsonData.data[i]['주메뉴'],
                  discount: jsonData.data[i]['할인내용'],
              });
           }
        }
     });
  }


  //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
  function nonsan_init() {
     count = 1;

     url = `armyPreferentialplaceView/getNonsanApi/${count}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           totalCount = jsonData.totalCount;
        }
     })
  }

  //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
  function nonsan_getData() {
     count = totalCount;
     url = `armyPreferentialplaceView/getNonsanApi/${count}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           for (let i = 0; i < totalCount; i++){
              nonsan.push({
                  title: jsonData.data[i]['업소명'],
                  type: jsonData.data[i]['업소구분'],
                  address: jsonData.data[i]['주소'],
                  phone: jsonData.data[i]['전화번호'],
                  army_discount: jsonData.data[i]['입영및면회객할인율'],
                  colStudent_discount: jsonData.data[i]['대학생할인율']
              });
           }
        }
     });
  }

  //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
  function yeongcheon_init() {
     count = 1;

     url = `armyPreferentialplaceView/getYeongcheonApi/${count}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           totalCount = jsonData.totalCount;
        }
     })
  }

  //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
  function yeongcheon_getData() {
     count = totalCount;
     url = `armyPreferentialplaceView/getYeongcheonApi/${count}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           for (let i = 0; i < totalCount; i++){
              yeongcheon.push({
                  title: jsonData.data[i]['상호'],
                  address: jsonData.data[i]['주소'],
                  phone: jsonData.data[i]['전화번호'],
              });
           }
        }
     });
  }

  //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
  function changwon_init() {
     count = 1;

     url = `armyPreferentialplaceView/getChangwonApi/${count}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           totalCount = jsonData.totalCount;
        }
     })
  }

  //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
  function changwon_getData() {
     count = totalCount;
     url = `armyPreferentialplaceView/getChangwonApi/${count}`;
     $.ajax({
        type: "GET",
        url: url,
        data: {},
        async: false,
        success: function(data) {
           jsonData = JSON.parse(data); //string -> json
           for (let i = 0; i < totalCount; i++){
              changwon.push({
                  title: jsonData.data[i]['업소명'],
                  address: jsonData.data[i]['소재지'],
                  phone: jsonData.data[i]['전화번호'],
                  mainMenu: jsonData.data[i]['주메뉴'],
              });
           }
        }
     });
  }

  var mapContainer = document.getElementById('map'), // 지도를 표시할 div
     mapOption = {
       center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
       level: 3 // 지도의 확대 레벨
     };

  // 지도를 생성합니다
  var map = new kakao.maps.Map(mapContainer, mapOption);

  // 주소-좌표 변환 객체를 생성합니다
  var geocoder = new kakao.maps.services.Geocoder();

  // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
  var infowindow = new kakao.maps.InfoWindow({zIndex:1});

  // 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
  var bounds = new kakao.maps.LatLngBounds(); //추가한 코드

  pocheon.forEach(function (position) {
    //api가 x,y좌표를 제공하기때문에 주소로 검색이 안될 때를 대비해 api에서 제공하는 x,y좌표로 마커 구현
    var coords = new kakao.maps.LatLng(position.ltd, position.lngt);
    var title = position.title;
    var type = position.type;
    var address = position.address;
    var phone = position.phone;
    var startTime = position.startTime;
    var endTime = position.endTime;
    var closed = position.closed;
    var mainMenu = position.mainMenu;
    var discount = position.discount;
    var x = position.lngt;
    var y = position.ltd;

    // 결과값으로 받은 위치를 마커로 표시합니다
    var marker = new kakao.maps.Marker({
      map: map,
      position: coords
    });
    marker.setMap(map); //추가한 코드

    // LatLngBounds 객체에 좌표를 추가합니다
    bounds.extend(coords); //추가한 코드, 현재 코드에서 좌표정보는 point[i]가 아닌 coords이다.

    function displayInfowindow(marker, title, type, address, phone, startTime, endTime, closed, mainMenu, discount, x, y){
      var content =  '<div class="wrap" style="width: max-content;">' +
      '    <div class="info">' +
      `        <div class="title">${title}</div>` +
      '        <div class="body">' +
      '            <div class="desc">';

      // api가 제공하는 정보 중 null값이 있는 항목이 있어 조건문 구현
      if(type != null){
        content += `                <div class = "category">${type}</div>`;
      }
      if(address != null){
        content += `                <div class="ellipsis">${address}</div>`;
      }
      if(phone != null){
        content += `                <div class="etc"> 전화번호: ${phone}</div>`;
      }
      if(startTime != null){
        content += `                <div class="etc"> 영업시작시간: ${startTime}</div>`;
      }
      if(endTime != null){
        content += `                <div class="etc"> 영업종료시간: ${endTime}</div>`;
      }
      if(closed != null){
        content += `                <div class="etc"> 휴무: ${closed}</div>` ;
      }
      if(mainMenu != null){
        content += `                <div class="etc"> 주메뉴: ${mainMenu}</div>`;
      }if(endTime != null){
        discount += `                <div class="etc"> 할인내용: ${discount}</div>`;
      }

      content +=
      '            </div>' +
      `                <div class= "d-grid gap-2 d-md-flex justify-content-md-end pe-1 pb-1">` +
      `                    <button id="likePlace" class="btn btn-primary btn-sm">관심 장소에 추가하기</button>` +
      `                    <button type="button" id="closeInfo" class="btn btn-secondary btn-sm">닫기</button>` +
      `                </div>` +
      '        </div>' +
      '    </div>' +
      '</div>';

      infowindow.setContent(content);
      infowindow.open(map, marker);

      $('#likePlace').off('click').on('click', function(){
        var placeobj = {
          "title" : title,
          "roadAddressName" : address,
          "x" : x,
          "y" : y
        }//전송할 객체 생성
        var placeJsonObj = JSON.stringify(placeobj);

        $.ajax({
          url: "/map/place_like",
          method: "POST",
          dataType: "text",
          data: placeJsonObj,
          async: false,
          contentType: 'application/json',
          beforeSend : function(xhr) {
            xhr.setRequestHeader(header, token);
          },
          success : function(){
            alert("등록을 완료하였습니다!");
          },
          fail : function (request, status, error){
            alert("에러 발생" + error)
          },
          complete : function(){
            location.replace("");
          }
        });
      });
    }

    kakao.maps.event.addListener(marker, 'click', function() {
        displayInfowindow(marker, title, type, address, phone, startTime, endTime, closed, mainMenu, discount, x, y);
    });

    $(document).on("click", '#closeInfo', function () {
        infowindow.close();
    });

    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
    // map.setCenter(coords); //제거한 코드
    setBounds(); //추가한 코드
  });

  nonsan.forEach(function (position) {
    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(position.address, function(result, status) {
      // 정상적으로 검색이 완료됐으면
      if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
          map: map,
          position: coords
        });
        marker.setMap(map); //추가한 코드

        // LatLngBounds 객체에 좌표를 추가합니다
        bounds.extend(coords); //추가한 코드, 현재 코드에서 좌표정보는 point[i]가 아닌 coords이다.

        var road_address_name = result[0].road_address.address_name;
        var address_name = result[0].address.address_name;
        var title = position.title;
        var type = position.type;
        var phone = position.phone;
        var army_discount = position.army_discount;
        var colStudent_discount = position.colStudent_discount;
        var x = result[0].x;
        var y = result[0].y;

        function displayInfowindow(marker, title, road_address_name, address_name, type, phone, army_discount, colStudent_discount, x, y){
          var content =  '<div class="wrap" style="width: max-content;">' +
          '    <div class="info">' +
          `        <div class="title">${title}</div>` +
          '        <div class="body">' +
          '            <div class="desc">' +
          `                <div class = "category">${type}</div>` +
          `                <div class="ellipsis">${road_address_name}</div>` +
          `                <div class="jibun ellipsis"> (지번) ${address_name}</div>` +
          `                <div class="etc"> 전화번호: ${phone}</div>` +
          `                <div class="etc"> 장병 및 면회객 할인율: ${army_discount}</div>` +
          `                <div class="etc"> 대학생 할인율: ${colStudent_discount}</div>` +
          '            </div>' +
          `                <div class= "d-grid gap-2 d-md-flex justify-content-md-end pe-1 pb-1">` +
          `                    <button id="likePlace" class="btn btn-primary btn-sm">관심 장소에 추가하기</button>` +
          `                    <button type="button" id="closeInfo" class="btn btn-secondary btn-sm">닫기</button>` +
          `                </div>` +
          '        </div>' +
          '    </div>' +
          '</div>';

          infowindow.setContent(content);
          infowindow.open(map, marker);

          $('#likePlace').off('click').on('click', function(){
            let address = ( road_address_name != null || road_address_name != "") ? road_address_name : address_name;
            var placeobj = {
              "title" : title,
              "roadAddressName" : address,
              "x" : x,
              "y" : y
            }//전송할 객체 생성
            var placeJsonObj = JSON.stringify(placeobj);

            $.ajax({
              url: "/map/place_like",
              method: "POST",
              dataType: "text",
              data: placeJsonObj,
              async: false,
              contentType: 'application/json',
              beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token);
              },
              success : function(){
                alert("등록을 완료하였습니다!");
              },
              fail : function (request, status, error){
                alert("에러 발생" + error)
              },
              complete : function(){
                location.replace("");
              }
            });
          });
        }

        kakao.maps.event.addListener(marker, 'click', function() {
          displayInfowindow(marker, title, road_address_name, address_name, type, phone, army_discount, colStudent_discount, x, y);
        });

        $(document).on("click", '#closeInfo', function () {
          infowindow.close();
        });


        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        // map.setCenter(coords); //제거한 코드
        setBounds(); //추가한 코드
      }
    });
  });

  yeongcheon.forEach(function (position) {
    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(position.address, function(result, status) {
      // 정상적으로 검색이 완료됐으면
      if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
          map: map,
          position: coords
        });
        marker.setMap(map); //추가한 코드

        // LatLngBounds 객체에 좌표를 추가합니다
        bounds.extend(coords); //추가한 코드, 현재 코드에서 좌표정보는 point[i]가 아닌 coords이다.

        var road_address_name = result[0].road_address.address_name;
        var address_name = result[0].address.address_name;
        var title = position.title;
        var phone;
        var x = result[0].x;
        var y = result[0].y;
        if(position.phone != null){
            phone = position.phone;
        } else {
            phone = "제공되지 않음";
        }

        function displayInfowindow(marker, title, road_address_name, address_name, phone, x, y){
          var content =  '<div class="wrap" style="width: max-content;">' +
          '    <div class="info">' +
          `        <div class="title">${title}` +
          '            <div class="close" id="closeInfo" title="닫기"></div>' +
          '        </div>' +
          '        <div class="body">' +
          '            <div class="desc">' +
          `                <div class="ellipsis">${road_address_name}</div>` +
          `                <div class="jibun ellipsis"> (지번) ${address_name}</div>` +
          `                <div class="etc"> 전화번호: ${phone}</div>` +
          '            </div>' +
          `                <div class= "d-grid gap-2 d-md-flex justify-content-md-end pe-1 pb-1">` +
          `                    <button id="likePlace" class="btn btn-primary btn-sm">관심 장소에 추가하기</button>` +
          `                    <button type="button" id="closeInfo" class="btn btn-secondary btn-sm">닫기</button>` +
          `                </div>` +
          '        </div>' +
          '    </div>' +
          '</div>';

          infowindow.setContent(content);
          infowindow.open(map, marker);

          $('#likePlace').off('click').on('click', function(){
            let address = ( road_address_name != null || road_address_name != "") ? road_address_name : address_name;
            var placeobj = {
              "title" : title,
              "roadAddressName" : address,
              "x" : x,
              "y" : y
            }//전송할 객체 생성
            var placeJsonObj = JSON.stringify(placeobj);

            $.ajax({
              url: "/map/place_like",
              method: "POST",
              dataType: "text",
              data: placeJsonObj,
              async: false,
              contentType: 'application/json',
              beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token);
              },
              success : function(){
                alert("등록을 완료하였습니다!");
              },
              fail : function (request, status, error){
                alert("에러 발생" + error)
              },
              complete : function(){
                location.replace("");
              }
            });
          });
        }

        kakao.maps.event.addListener(marker, 'click', function() {
          displayInfowindow(marker, title, road_address_name, address_name, phone, x, y);
        });

        $(document).on("click", '#closeInfo', function () {
          infowindow.close();
        });


        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        // map.setCenter(coords); //제거한 코드
        setBounds(); //추가한 코드
      }
    });
  });

  changwon.forEach(function (position) {
    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(position.address, function(result, status) {
      // 정상적으로 검색이 완료됐으면
      if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
          map: map,
          position: coords
        });
        marker.setMap(map); //추가한 코드

        // LatLngBounds 객체에 좌표를 추가합니다
        bounds.extend(coords); //추가한 코드, 현재 코드에서 좌표정보는 point[i]가 아닌 coords이다.

        var road_address_name = result[0].road_address.address_name;
        var address_name = result[0].address.address_name;
        var title = position.title;
        var phone;
        var x = result[0].x;
        var y = result[0].y;
        if(position.phone != null){
            phone = position.phone;
        } else {
            phone = "제공되지 않음";
        }
        var mainMenu = position.mainMenu;

        function displayInfowindow(marker, title, road_address_name, address_name, phone, mainMenu, x, y){
          var content =  '<div class="wrap" style="width: max-content;">' +
          '    <div class="info">' +
          `        <div class="title">${title}</div>` +
          '        <div class="body">' +
          '            <div class="desc">' +
          `                <div class="ellipsis">${road_address_name}</div>` +
          `                <div class="jibun ellipsis"> (지번) ${address_name}</div>` +
          `                <div class="etc"> 전화번호: ${phone}</div>`;
          if(mainMenu != null){
            content += `                <div class="etc"> 주메뉴: ${mainMenu}</div>`;
          }
          content += '            </div>' +
          `                <div class= "d-grid gap-2 d-md-flex justify-content-md-end pe-1 pb-1">` +
          `                    <button id="likePlace" class="btn btn-primary btn-sm">관심 장소에 추가하기</button>` +
          `                    <button type="button" id="closeInfo" class="btn btn-secondary btn-sm">닫기</button>` +
          `                </div>` +
          '        </div>' +
          '    </div>' +
          '</div>';

          infowindow.setContent(content);
          infowindow.open(map, marker);

          $('#likePlace').off('click').on('click', function(){
            let address = ( road_address_name != null || road_address_name != "") ? road_address_name : address_name;
            var placeobj = {
              "title" : title,
              "roadAddressName" : address,
              "x" : x,
              "y" : y
            }//전송할 객체 생성
            var placeJsonObj = JSON.stringify(placeobj);

            $.ajax({
              url: "/map/place_like",
              method: "POST",
              dataType: "text",
              data: placeJsonObj,
              async: false,
              contentType: 'application/json',
              beforeSend : function(xhr) {
                xhr.setRequestHeader(header, token);
              },
              success : function(){
                alert("등록을 완료하였습니다!");
              },
              fail : function (request, status, error){
                alert("에러 발생" + error)
              },
              complete : function(){
                location.replace("");
              }
            });
          });
        }

        kakao.maps.event.addListener(marker, 'click', function() {
          displayInfowindow(marker, title, road_address_name, address_name, phone, mainMenu, x, y);
        });

        $(document).on("click", '#closeInfo', function () {
          infowindow.close();
        });


        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        // map.setCenter(coords); //제거한 코드
        setBounds(); //추가한 코드
      }
    });
  });


  function setBounds() {
    // LatLngBounds 객체에 추가된 좌표들을 기준으로 지도의 범위를 재설정합니다
    // 이때 지도의 중심좌표와 레벨이 변경될 수 있습니다
    map.setBounds(bounds);
  }
</script>
</body>
</html>