<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head(title)" />

<script type="text/javascript" src= "https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=qs82qxfzok"></script>
<body>
<nav th:replace="fragments/common :: menu(menu)" />
<div id="map" style="width:100%;height:400px;"></div>

<script>
var mapOptions = {
    center: new naver.maps.LatLng(37.3595704, 127.105399),
    zoom: 10
};

var map = new naver.maps.Map('map', mapOptions);
</script>
</body>
<footer th:replace="fragments/common :: footer"></footer>
</html>