<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/common :: head(title)" />
</head>
<style>
    #question {
        font-family: 'KOTRA_SONGEULSSI';
    }

    #writing {
        font-family: 'KCC-eunyoung';
        font-size: 2.3rem!important;
    }

    #etc_func_intro {
        position:relative;
        z-index:1;
    }

    #etc_func_intro::after {
        background-image: url('/img/indexIntroducing/군혜택MAP소개.png');
        background-repeat : no-repeat;
        background-size : cover;
        opacity:0.7!important;
        top:0;
        left:0;
        position:absolute;
        z-index:-1;
        content:'';
        width:100%;
        height:100%;
    }

</style>
<body class="d-flex flex-column h-100">
<nav th:replace="fragments/common :: menu(menu)" />
<main class="flex-shrink-0">
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">군생활,<br>허무하게 보내기엔 아까운 시간.</h1>
                        <p class="lead fw-normal text-white-50 mb-4">제공되는 다양한 정보로 손쉽게 플래너를 만들어보자!</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <a class="btn btn-primary btn-lg px-4 me-sm-3" th:href="@{/myPlanner}">시작하기</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="#features">알아보기</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="/img/logo/armyPlannerLogo_white.png" alt="armyPlannerLogo_white.png" /></div>
            </div>
        </div>
    </header>
    <!-- 정보 section-->
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">알찬 군생활 플랜을 위한 다양한 정보 제공</h2></div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-clipboard-data"></i></div>
                            <h2 class="h5"><strong>[식단 정보]</strong></h2>
                            <p class="mb-0">- 식품 영양성분 정보</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-cart-plus"></i></div>
                            <h2 class="h5"><strong>[소비 정보]</strong></h2>
                            <p class="mb-0">- PX 인기상품 정보</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-geo-alt"></i></div>
                            <h2 class="h5"><strong>[장소 정보]</strong></h2>
                            <p class="mb-0">- 병사 할인 시설 정보</p>
                            <p class="mb-0">- 군 복지 휴양시설 정보</p>
                            <p class="mb-0">- 군병원 정보</p>
                            <p class="mb-0">- TMO 정보</p>
                            <p class="mb-0">- 군인 우대 업소 정보</p>
                            <p class="mb-0">- 국방부 MOU 할인 혜택 정보</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-cloud-sun"></i></div>
                            <h2 class="h5"><strong>[날씨 정보]</strong></h2>
                            <p class="mb-0">- 기상청 중기전망예보</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial section-->
    <div class="py-5 bg-light" id="question">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic">"데이터를 제공해주는건 알겠는데...<br>플래너 만드는게 힘들잖아요..?"</div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="fw-bold">
                                걱정마세요!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 기능 section-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">다양한 기능을 통해 손쉽게 플래너를 만들어보세요.</h2>
                        <p class="lead fw-normal text-muted mb-5">보기쉬운 UI와 다양한 정보로 클릭 몇번이면 플래너가 뚝딱!</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card shadow border-0">
                        <img class="card-img-top" src="/img/indexIntroducing/플래너예시_기본.png" alt="플래너예시_기본.png" />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3"><strong>나만의 플래너 인터페이스</strong></h5></a>
                            <p class="card-text mb-0">내가 추가한 일정을 월/주/일/리스트 형태로 원하는 형태로 볼 수 있어요.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card shadow border-0">
                        <img class="card-img-top" src="/img/indexIntroducing/일정유형.png" alt="일정유형.png" />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3"><strong>다양한 종류의 일정 추가/삭제</strong></h5></a>
                            <p class="card-text mb-0">휴가, 식단, 소비, 장소, 텍스트 등 내가 직접 타이핑하거나 다양한 정보를 활용 및 선택하여 추가/삭제 가능.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card shadow border-0">
                        <img class="card-img-top" src="/img/indexIntroducing/장소일정정보예시.png" alt="장소일정정보예시.png" />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link"><h5 class="card-title mb-3"><strong>일정 내용 상세보기</strong></h5></a>
                            <p class="card-text mb-0">일정을 클릭하면 일정 내용을 볼 수 있어요. 특히 장소일정의 경우 정적지도가 보여지고 클릭시 해당 장소를 기준으로 군혜택 MAP을 이용할 수 있어요.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Testimonial section-->
            <div class="py-5 bg-light" id="etc_func_intro">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-end">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fw-bolder">단순히 플래너기능만 잘 만든 플랫폼이 아닙니다!</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="fw-bold">
                                        알찬 군생활을 위한 다양한 혜택 기능들까지.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 그 외 기능 section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">군혜택MAP과 나만의 분석 페이지 등 다양한 기능을 이용해보세요.</h2>
                                <p class="lead fw-normal text-muted mb-5">플래너 기능과 함께할 수 있어요!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card shadow border-0">
                                <img class="card-img-top" src="/img/indexIntroducing/군혜택맵예시.png" alt="군혜택맵예시.png" />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3"><strong>군혜택MAP</strong></h5></a>
                                    <p class="card-text mb-0">키워드로 장소 검색, 군인 전용 장소 보기, 군인 우대 업소 보기 가능!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card shadow border-0">
                                <img class="card-img-top" src="/img/indexIntroducing/기타군혜택예시.png" alt="기타군혜택예시.png" />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3"><strong>기타 군 혜택</strong></h5></a>
                                    <p class="card-text mb-0">기타 군 혜택을 보기 쉽게 제공합니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card shadow border-0">
                                <img class="card-img-top" src="/img/indexIntroducing/유저홈예시.png" alt="유저홈예시.png" />
                                <div class="card-body p-4">
                                    <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3"><strong>회원 전용 홈</strong></h5></a>
                                    <p class="card-text mb-0">전국 중기예보전망, 전날 식단 영양소 분석, 일별 소비 기록 분석 및 예상, 예정된 방문 장소 등 여러 기능 제공</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Pricing section-->
            <section class="bg-light py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">프리미엄 요금제를 이용할 수 있어요!</h1>
                        <p class="lead fw-normal text-muted mb-0">오직 프리미엄 요금제만을 위한 추가 기능</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <!-- Pricing card free-->
                        <div class="col-lg-6 col-xl-4">
                            <div class="card mb-5 mb-xl-0">
                                <div class="card-body p-5">
                                    <div class="small text-uppercase fw-bold text-muted">무료 플랜</div>
                                    <div class="mb-3">
                                        <span class="display-4 fw-bold">무료</span>
                                        <span class="text-muted">/ 매월</span>
                                    </div>
                                    <ul class="list-unstyled mb-4">
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            오직 나만을 위한 플래너 인터페이스
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            휴가 일정 추가/삭제
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            장소 일정 추가/삭제
                                        </li>
                                        <li class="mb-2 text-muted">
                                            <i class="bi bi-x"></i>
                                            식단 기록 추가/삭제
                                        </li>
                                        <li class="mb-2 text-muted">
                                            <i class="bi bi-x"></i>
                                            소비 기록 추가/삭제
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            관심 장소 저장/삭제
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            장소 검색
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            <strong>군인 전용 장소 정보 제공(군 복지 휴양 시설, 군 병원, TMO)</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            국방부 MOU 혜택 정보 제공
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            <strong>회원 전용 홈(예보, 다가오는 일정, 예정된 방문 장소)</strong>
                                        </li>
                                    </ul>
                                    <div class="d-grid"><a class="btn btn-outline-primary" href="#!">플랜 선택하기</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Pricing card pro-->
                        <div class="col-lg-6 col-xl-4">
                            <div class="card mb-5 mb-xl-0">
                                <div class="card-body p-5">
                                    <div class="small text-uppercase fw-bold">
                                        <i class="bi bi-star-fill text-warning"></i>
                                        Premium
                                    </div>
                                    <div class="mb-3">
                                        <span class="display-4 fw-bold">4,900₩</span>
                                        <span class="text-muted">/ 매월</span>
                                    </div>
                                    <ul class="list-unstyled mb-4">
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            오직 나만을 위한 플래너 인터페이스
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            휴가 일정 추가/삭제
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            장소 일정 추가/삭제
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            식단 기록 추가/삭제
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            소비 기록 추가/삭제
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            관심 장소 저장/삭제
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            장소 검색
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            <strong>군인 전용 장소 정보 제공(군 복지 휴양 시설, 군 병원, TMO, 군인 우대 업소 정보)</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            국방부 MOU 혜택 정보 제공
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            <strong>회원 전용 홈(예보, 다가오는 일정, 예정된 방문 장소, 주기적 식단 영양소 분석,
                                                일별 소비 기록 분석)</strong>
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            다양한 테마, 이모티콘, 꾸미기 기능 (추가 예정)
                                        </li>
                                        <li class="mb-2">
                                            <i class="bi bi-check text-primary"></i>
                                            그 외 지속적인 혜택 추가 예정
                                        </li>
                                    </ul>
                                    <div class="d-grid"><a class="btn btn-primary" href="#!">플랜 선택하기</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action-->
            <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white" id="writing">"공공데이터를 단순히 보여주는 것을 넘어 사용자가 가공, 저장 등 다양한 방식으로 직접 사용할 수 있어야 한다.</div>
                        <div class="text-white-50">공공데이터를 통해 새로운 가치를 만듭니다.</div>
                        <div class="small text-blak-50">상병 최성현</div>
                        <a href="https://www.instagram.com/froggy_hyun/"><img src="img/logo/instagram.png" style="height:30px"></a>
                        <a href="https://github.com/froggy-hyun"><img src="/img/logo/github.png" style="height:30px"></a>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</main>
<!-- Footer-->
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>