<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/common :: head(title)" />
</head>
<body>
<nav th:replace="fragments/common :: menu(menu)" />

</body>
<!-- Footer-->
<footer th:replace="fragments/common :: footer"></footer>
<script>
    let pageNo;
    const numOfRows = 100;
    let start;
    let end;
    let totalPage;
    let totalCount;
    let px_name = "";

    let pageCount = 8; //페이징에 나타낼 페이지 수

    let url;

    //초기 렌더링
    init();
    totalPage = Math.ceil(totalCount/numOfRows);
    url = `/myPlanner/getpxapi/${start}/${totalCount}`
    paging(totalCount, numOfRows, pageCount, pageNo);
    displayData();

    $('#search_px').off('click').on("click", function(){
      px_name = $('#px_name_input').val();
      if(px_name == ""){
        init();
        totalPage = Math.ceil(totalCount/numOfRows);
        url = `/myPlanner/getpxapi/${start}/${totalCount}`
        paging(totalCount, numOfRows, pageCount, pageNo);
        displayData();
      }else{
        px_name = $('#px_name_input').val();
        search_init(px_name);
        totalPage = Math.ceil(search_totalCount/numOfRows);
        paging(search_totalCount, numOfRows, pageCount, pageNo);
        search_displayData();
      }
    });

    //totalCount를 먼저 받아옴으로써 api가 정상적인지와 총 데이터의 갯수를 파악
      function init() {
        pageNo = 1;
        start = 1;
        end = 1;
        url = `/myPlanner/getpxapi/${start}/${end}`
        $.ajax({
          type: "GET",
          url: url,
          data: {},
          async: false,
          success: function(data) {
            jsonData = JSON.parse(data); //string -> json
            totalCount = jsonData.DS_MND_PX_PARD_PRDT_INFO.list_total_count;
            if(jsonData.DS_MND_PX_PARD_PRDT_INFO == null || jsonData.DS_MND_PX_PARD_PRDT_INFO == ""){
                alert("공공데이터 API 서버에 일시적 문제가 있습니다! 잠시 후 다시 시도해주세요.");
            }
          }
        })
      }

      let search_totalCount;
      //px 검색 했을 경우 init
      function search_init(px_name) {
        pageNo = 1;
        start = 1;
        end = totalCount;
        url = `/myPlanner/getpxapi/${start}/${end}`
        $.ajax({
                            type: "GET",
                            url: url,
                            data: {},
                            async: false,
                            success: function(data) {
                                jsonData = JSON.parse(data).DS_MND_PX_PARD_PRDT_INFO;; //string -> json
                                if(jsonData.DS_MND_PX_PARD_PRDT_INFO == null || jsonData.DS_MND_PX_PARD_PRDT_INFO == ""){
                                 alert("공공데이터 API 서버에 일시적 문제가 있습니다! 잠시 후 다시 시도해주세요.");
                                }
                                actual_totalCount = jsonData.list_total_count;
                                search_totalCount = 0;
                                for (let i = 0; i < actual_totalCount; i++) {
                                    if((jsonData.row[i]['prdtnm']).includes(px_name)){
                                        search_totalCount += 1;
                                    }
                                }
                            }
                        })
                    }

                    //데이터 가져오기
                    function setTable(pageNo){
                        $.ajax({
                            type: "GET",
                            url: url,
                            data: {},
                            async: false,
                            success: function(data) {
                                let jsonData = JSON.parse(data).DS_MND_PX_PARD_PRDT_INFO; //string -> json
                                for (let i = 0; i < numOfRows; i++) {
                                    let table_html='';
                                    table_html += '<tr>';
                                    table_html += '  <td>'+jsonData.row[i]['prdtnm']+'</td>';
                                    table_html += '  <td>'+jsonData.row[i]['sellyear']+'</td>';
                                    table_html += '</tr>';

                                    $('#px_api_body').append(table_html);
                                }
                            }
                        })
                    }

                    function search_setTable(pageNo, px_name){
                        $.ajax({
                            type: "GET",
                            url: url,
                            data: {},
                            async: false,
                            success: function(data) {
                                let jsonData = JSON.parse(data).DS_MND_PX_PARD_PRDT_INFO; //string -> json
                                for (let i = 0; i < numOfRows; i++) {
                                     if((jsonData.row[i]['prdtnm']).includes(px_name)){
                                        let table_html='';
                                        table_html += '<tr>';
                                        table_html += '  <td>'+jsonData.row[i]['prdtnm']+'</td>';
                                        table_html += '  <td>'+jsonData.row[i]['sellyear']+'</td>';
                                        table_html += '</tr>';

                                        $('#px_api_body').append(table_html);
                                     }
                                }
                            }
                        })
                    }

                    function displayData() {
                      $('#px_api_body').empty();

                      $('#add_shopping_by_px_api_modal').scrollTop(0);
                      setTable(pageNo, px_name);
                    }

                    function search_displayData() {
                      $('#px_api_body').empty();

                      $('#add_shopping_by_px_api_modal').scrollTop(0);
                      search_setTable(pageNo, px_name);
                    }

                    function paging(totalCount, numOfRows, pageCount, pageNo) {

                      if(totalPage<pageCount){
                        pageCount=totalPage;
                      }

                      let pageGroup = Math.ceil(pageNo / pageCount); // 페이지 그룹
                      let last = pageGroup * pageCount; //화면에 보여질 마지막 페이지 번호

                      if (last > totalPage) {
                        last = totalPage;
                      }

                      let first = last - (pageCount - 1); //화면에 보여질 첫번째 페이지 번호
                      let next = last + 1;
                      let prev = first - 1;

                      let pageHtml = "";

                      if (prev > 0) {
                        pageHtml += "<li><a href='#' id='prev'> 이전 </a></li>";
                      }

                     //페이징 번호 표시
                      for (var i = first; i <= last; i++) {
                        if (pageNo == i) {
                          pageHtml +=
                            "<li class='on'><a href='#' id='" + i + "'>" + i + "</a></li>";
                        } else {
                          pageHtml += "<li><a href='#' id='" + i + "'>" + i + "</a></li>";
                        }
                      }

                      if (last < totalPage) {
                        pageHtml += "<li><a href='#' id='next'> 다음 </a></li>";
                      }

                      $("#px_pagingul").html(pageHtml);
                      let displayCount = "";
                      displayCount = `현재 ${pageNo} - ${totalPage} 페이지 / ${totalCount}건`;
                      $("#px_displayCount").text(displayCount);


                      //페이징 번호 클릭 이벤트
                      $("#px_pagingul li a").click(function () {
                        let $id = $(this).attr("id");
                        selectedPage = $(this).text();

                        if ($id == "next") selectedPage = next;
                        if ($id == "prev") selectedPage = prev;

                        pageNo = selectedPage;
                        start = ($id-1)*100 + 1;
                        end = start + 99;
                        url = `/myPlanner/getpxapi/${start}/${end}`;
                        paging(totalCount, numOfRows, pageCount, pageNo);
                        displayData(pageNo);
                      });
</script>
</html>